*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    width: 3px;
    background-color:#ddd;
}
body{
    background-color: #111;
}
.navbar{
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: .5em;
}