.main{
    width: 50%;
    max-width: 360px;
    height: 100%;
    background-color: #fff;
    min-width: 320px;
    border-radius: .5rem;

    border:1px solid #ccc;

    padding: 0.5rem;

}

.link{
    width: 100%;
    font-size: 1rem;
    color:white;
    height: 50px;
    border-radius: .5rem;
    text-align: center;
    padding: 12px;
    background-color: #111;
    margin-bottom: .5rem;
}
.msg-area{
    border:1px solid #ccc;
    border-radius: .5rem;
    height:calc(100% - (50px + .5em));
    padding: .5rem;
    overflow-y: scroll;

    box-shadow: inset 0px 0px 10px #ddd;
}
.msg{
    padding: 0.5em;
    border:1px solid #ccc;
    border-radius: .5rem;
    margin-bottom: .5rem;


}
p{
    margin-bottom: .5em;
}